*{
	user-select: none;
}

body {
	margin: 0;
	font-family: monospace;
}

canvas {
	height: 90vh;
}

.container{
	background:black;
	width:fit-content;
}

.btn-container {
	width: 45vh;
	display: flex;
	justify-content:space-around;
	padding-bottom: 1vh;
}

.btn {
	width: 8vh;
	height: 8vh;
	background-color: whitesmoke;
	box-shadow: whitesmoke 0 0 0.3vh;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.triangle{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-bottom: 3vh solid #999;
}

.triangle.left{
	margin-right: 0.5vh;
	transform: rotate(-90deg);
}

.triangle.right{
	margin-left: 0.5vh;
	transform: rotate(90deg);
}

.triangle.down{
	margin-top: 0.5vh;
	transform: rotate(180deg);
}

.diamond{
	width: 3vh;
	height: 3vh;
	background: #999;
	transform: rotate(45deg);
}