body {
	margin: 0;
	font-family: monospace;
}

canvas {
	height: 90vh;
}

.container{
	background:black;
	width:fit-content;
}

.btn-container {
	width: 45vh;
	display: flex;
	justify-content:space-around;
	padding-bottom: 1vh;
}

.btn {
	width: 8vh;
	height: 8vh;
	background-color: whitesmoke;
	box-shadow: whitesmoke 0 0 0.3vh;
	color: #999;
	box-sizing: border-box;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
	user-select: none;
}

#left{
	padding-right: 0.5vh;
}

#right{
	padding-left: 1vh;
}