body {
	margin: 0;
	background: black;
	font-family:  monospace;
}

canvas {
	height: 90vh;
}

.btn-container {
	display: flex;
}

.btn {
	width: 8vh;
	height: 8vh;
	background-color: whitesmoke;
	box-shadow: whitesmoke 0 0 0.3vh;
	margin-left: 2.6vh;
	box-sizing: border-box;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
	user-select: none;
	color: #999
}

#left{
	padding-right: 0.5vh;
}

#right{
	padding-left: 1vh;
}